<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/index.css">
  </head>
  <body>
    <header>
        <nav id="" class="navbar navbar-expand-sm">
          <a class="navbar-brand" href="#"
            ><img
              src="../../assets/imgs/logo_apple.png"
              alt="logo"
              style="width: 70px"
          /></a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="../../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
              </li>
            </ul>
          </div>
          <form action="/action_page.php">
            <label for="filter" style="color: white">Filter</label>
            <select name="cars" id="filter">
              <option value="all">All</option>
              <option value="iphone">Iphone</option>
              <option value="samsung">Samsung</option>
            </select>
          </form>
          <form action="/action_page.php" class="ml-3">
            <label for="sortByPrice" style="color: white">Sort by</label>
            <select name="cars" id="sortByPrice">
              <option id="sort" value="sort">All</option>
              <option id="low" value="low">Low to high</option>
              <option id="high" value="high">High to low</option>
            </select>
          </form>
        </nav>
      </header>
      <section class="mt-3">
       <div class="tab-content">
        <div role="tabpanel" class="tab-pane in active" id="DanhSachSP">
          <div class="row">
            <div class="col-md-8">
              <!-- BEGIN BUTTOM THÊM MỚI -->
              <button
                id="btnThemSP"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#myModal"
              >
                <i class="fa fa-plus mr-1"></i>
                Add new product
              </button>
              <!-- END BUTTON THÊM MỚI -->
            </div>
            <div class="col-md-4">
              <!-- BEGIN TÌM KIẾM -->
              <div class="input-group mb-3">
                <input
                  id="search"
                  type="text"
                  class="form-control"
                  placeholder="Enter search key"
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"
                    ><i class="fa fa-search"></i
                  ></span>
                </div>
              </div>
              <!-- END TÌM KIẾM -->
            </div>
          </div>
          <div class="clear-fix"></div>
          <div class="tblSanPham" id="tblSanPham">
            <!-- BEGIN TABLE SẢN PHẨM -->
            <table class="table table-bordered">
              <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Screen</th>
                <th>Back Camera</th>
                <th>Front Camera</th>
                <th>Image</th>
                <th>Description</th>
                <th>Type</th>
              </thead>
              <tbody id="tblDanhSachSP"></tbody>
            </table>
            <!-- END TABLE SẢN PHẨM -->
          </div>
          <br />
        </div>
       </div>
       <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input
                  id="name"
                  class="form-control"
                  placeholder="Enter name"
                />
                <span class="sp-thongbao" id="tbName"></span>
              </div>
              <div class="form-group">
                <label>price</label>
                <input
                  id="price"
                  class="form-control"
                  placeholder="Enter price"
                />
                <span class="sp-thongbao" id="tbPrice"></span>
              </div>
              <div class="form-group">
                <label>Screen</label>
                <input
                  id="screen"
                  class="form-control"
                  placeholder="Enter screen"
                />
                <span class="sp-thongbao" id="tbScreen"></span>
              </div>
              <div class="form-group">
                <label>Back Camera</label>
                <input
                  id="backCamera"
                  class="form-control"
                  placeholder="Enter back camera"
                />
                <span class="sp-thongbao" id="tbBackCamera"></span>
              </div>
              <div class="form-group">
                <label>Front Camera</label>
                <input
                  id="frontCamera"
                  class="form-control"
                  placeholder="Enter front camera"
                />
                <span class="sp-thongbao" id="tbFrontCamera"></span>
              </div>
              <div class="form-group">
                <label>Image</label>
                <input
                  id="image"
                  class="form-control"
                  placeholder="Enter url image"
                />
                <span class="sp-thongbao" id="tbImage"></span>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea name="" class="form-control" id="description" placeholder="Enter description" cols="30" rows="5"></textarea>
                <span class="sp-thongbao" id="tbDesc"></span>
              </div>
              <div class="form-group">
                <label for="type">Type </label>
                <select class="form-control" id="type">
                  <option value="type">Select type</option>
                  <option value="iphone">Iphone</option>
                  <option value="samsung">Samsung</option>
                </select>
                <span class="sp-thongbao" id="tbType"></span>
              </div>
            </div>
            <!-- Modal footer -->
            <div id="modal-footer" class="modal-footer"></div>
          </div>
        </div>
      </div>
      </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.6/axios.min.js"
      integrity="sha512-CmAbe9oceGW5QqQ3m4+xHwUEILjqe3qxPkgdAsGL6mTDSqNcnoHDDdl+rZTwibMlnw0Sqf3IRvfsKNfIKqX/8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../services/Services.js"></script>
    <script src="../../admin/model/Products.js"></script>
    <script src="../../assets/js/Validation.js"></script>
    <script src="../controller/admin.js"></script>
  </body>
</html>